<%= link_to "Home", articles_path %>
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<br>
<%= link_to "Edit", article_edit_path %>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
